<!DOCTYPE html>
<html lang="en" style="height:auto;">
{% block head %}
<head>
    <title>{% block title %}Mi Cubani{% endblock %}</title>

    <!-- These 3 MUST come first for Bootstrap to work. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#005281">

    <head>
        <meta charset="utf-8">
        <title>Variant HTML Builder by Medium Rare</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
        <link href="/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/theme-fire.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />

        <link href="/css/font-oswald.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Oswald:300,400,600,700' rel='stylesheet' type='text/css'>
    </head>
</head>
{% endblock %}

<body class="scroll-assist">
    <div class="nav-container">
        <nav>
            <div class="nav-bar text-center">
                <div class="col-md-2 col-md-push-5 col-sm-12 text-center">
                    <a href="#">
                        <img alt="logo" class="image-xxs" src="/img/micubania/logo_micubania.png">
                    </a>
                </div>
                <div class="col-sm-12 col-md-5 col-md-pull-2 overflow-hidden-xs">
                    <ul class="menu inline-block pull-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/events">Eventos</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-5 pb-xs-24">
                    <ul class="menu">
                        {#<li><a href="/gallery">Galleria</a></li>#}
                        <li><a href="/staff">Staff de Profesores</a></li>
                        <!--<li><a href="#">Dropdown</a>
                            <ul>
                                <li><a href="#">Single</a></li>
                            </ul>
                        </li>-->
                        <li><a href="/contactus">Contactenos</a></li>
                    </ul>
                </div>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs absolute-xs">
                <i class="ti-menu"></i>
            </div>
        </nav>
    </div>

    <div class="main-container">

        {% block content %}{% endblock %}

        <footer class="footer-2 bg-primary">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center mb64 mb-xs-24">
                        <a href="#">
                            <img alt="Logo" class="image-xs mb16" src="/img/micubania/logo_micubania_rosa.png">
                        </a>
                        <ul class="list-inline social-list spread-children">
                            <li><a href="#"><i class="icon icon-sm ti-twitter-alt"></i></a></li>
                            <li><a href="#"><i class="icon icon-sm ti-facebook"></i></a></li>
                            <li><a href="#"><i class="icon icon-sm ti-dribbble"></i></a></li>
                            <li><a href="#"><i class="icon icon-sm ti-vimeo-alt"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="row fade-half">
                    <div class="col-sm-4 text-center-xs">
                        <span>© Copyright 2016 Mi Cubania</span>
                    </div>

                    <div class="col-sm-4 text-center hidden-xs">
                        <span>Veronica Nisenbaum (Desarrollo)</span>
                    </div>

                    <div class="col-sm-4 text-right hidden-xs">
                        <span>micubania@gmail.com</span>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/flexslider.min.js"></script>
    <script src="/js/lightbox.min.js"></script>
    <script src="/js/masonry.min.js"></script>
    <script src="/js/parallax.js"></script>
    <script src="/js/scripts.js"></script>
</body>

</html>

